NEXT_PUBLIC_SUPABASE_URL=https://qfzotteiiikswlljjxup.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmem90dGVpaWlrc3dsbGpqeHVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NzM3NTgsImV4cCI6MjA5MTI0OTc1OH0.oLsla2ChDUks4m1aIOxfGcKeaQoVsuMKiLiOr0JSIwU
SUPABASE_SERVICE_ROLE_KEY=cole_a_service_role_key_diretamente_na_vercel
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=produtos
NEXT_PUBLIC_SITE_URL=https://casadosheik.com
BOOTSTRAP_ADMIN_EMAIL=administrador@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=administrador
